<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:wght@300&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Page CSS -->
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Contact</title>
</head>

<body>
  <section class="menu"></section>
  <div class="cart-container">
    <h2>Here are your current dishes</h2>

    <section class="dishes">
      <!-- Hard Coded, will be converted to dynamic -->
      <div class="dish-container">
        <header>
          <p class="name">Brent Hofacker</p>
          <img
            src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/1a63ff95-171e-4052-ab24-ac4c1c1c58d6-beef-wellington.jpg">
        </header>

        <div class="content">
          <div class="remove"><button><i class="far fa-trash-alt"></i></button></div>

          <article>
            <p>A dish that's fallen out of favour and then become popular again more times than we can
              count, beef Wellington's origins
              are as unclear as its connection to Arthur Wellesley, 1st Duke of Wellington.</p>
          </article>

          <footer>
            <p>Please Edit the Quantity</p>
            <div class="quantity">
              <button class="minus"><i class="fas fa-angle-double-left"></i></button>
              <div class="quantity-input"><output>1</output></div>
              <button class="add"><i class="fas fa-angle-double-right"></i></button>
            </div>
          </footer>
        </div>
      </div>

      <!-- Another Hard Coded for Testing -->
      <div class="dish-container">
        <header>
          <p class="name">Brent Hofacker</p>
          <img
            src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/88f787f4-40c9-4084-92f1-5df6dc94fb72-french-onion-soup.jpg">
        </header>

        <div class="content">
          <div class="remove"><button><i class="far fa-trash-alt"></i></button></div>

          <article>
            <p>Very few dishes are as comforting as French onion soup – a blend of mellow, slowly cooked, caramelised
              onions in a broth
              laced with white wine and cognac. It's thought that a version of the soup has existed since at least Roman
              times, but
              the modern version originated in 18th-century Paris. The soup is served in a ramekin, topped with a slice
              of baguette
              and cheese that's then melted under a grill.</p>
          </article>

          <footer>
            <p>Please Edit the Quantity</p>
            <div class="quantity">
              <button class="minus"><i class="fas fa-angle-double-left"></i></button>
              <div class="quantity-input"><output>1</output></div>
              <button class="add"><i class="fas fa-angle-double-right"></i></button>
            </div>
          </footer>
        </div>
      </div>
      <!-- End Here -->
      <!-- End Here -->
    </section>

    <section class="checkout">
      <output class="total">Total: 0 CAD</output>
      <button>Checkout</button>
    </section>

  </div>
</body>

</html>
