<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page CSS -->
  <link rel="stylesheet" href="/styles/contact.css" type="text/css" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:wght@300&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <title>Contact</title>
</head>

<body>
  <div class="bg-container">
    <div class="intro">
      <h1>WHY CHOOSE US</h1>
      <h2>WE ARE HERE TO SERVE YOU TO THE BEST DISHES</h2>
      <h3>We help you find and order food from wherever you are.</h3>
      <p> How it works:</p>
      <p> We list our menu items on the website main page.</p>
      When you find what you're
      looking for, you can place your order through our website. <p>We also give you access to reviews each order
        and makes sure you get exactly what you want. </p>
      <p>After you add order into your cart, click on cart and confirm
        checkout. </p>
      <p>You then type in
        an address and phone number, we send you a SMS message for the ETA to that locale.</p>
    </div>
  </div>

  <div class="contact">
    <h1>CONTACT</h1>
    <p>Have a question about our services? We would be happy to answer any of your questions at your convenience. Please
      contact or find us below: </p>
    <div class="phone">
      <p>Phone Number: XXX-XXX-XXXX</p>
    </div>
    <div class="hours">
      <h3>Opening Hours:</h3>
      <p>Monday - Friday: 9 a.m. - 20 p.m.</p>
      <p>Saturday - Sunday: 11 a.m. - 21 p.m.</p>
    </div>
    <div class="location">
      <p>Address: XXX XXXXX, XX, XXX XXX</p>
    </div>
  </div>
</body>

</html>
