<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page CSS -->
  <link rel="stylesheet" href="styles/contact.css" type="text/css" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:wght@300&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <title>Contact</title>
</head>

<body>
  <div class="bg-container">
    <div class="intro">
      <h1>WHY CHOOSE US</h1>
      <span>WE ARE HERE TO SERVE YOU TO THE BEST DISHES</span>
    </div>
  </div>

  <div class="contact">
    <div class="phone">
      <h1>CONTACT</h1>
      <p>Phone Number: XXX-XXX-XXXX</p>
    </div>
    <div class="hours">
      <p>Opening Hours:</p>
      <p>Monday - Friday: 9 a.m. - 20 p.m.</p>
      <p>Weekend: 11 a.m. - 21 p.m.</p>
    </div>
    <div class="location">
      <p>Address: XXX XXXXX, XX, XXX XXX</p>
    </div>
  </div>
</body>

</html>
