/*
----------------------- GENERAL STYLINGS ------------------------------
*/
:root {
  box-sizing: border-box;
}

* h1,
::before h1,
::after h1 {
  font-size: 2em;
}
* h2,
::before h2,
::after h2 {
  font-size: 1.5em;
}
* h3,
::before h3,
::after h3 {
  font-size: 1.17em;
}
* h4,
::before h4,
::after h4 {
  font-size: 1.12em;
}

body {
  font-family: "Roboto", sans-serif;
}

/*
----------------------- MENU BAR STYLINGS ------------------------------
*/
.navbar {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.navbar .logo {
  padding: 1em;
}
.navbar .logo img {
  width: 4em;
}
.navbar .logo img:hover {
  cursor: pointer;
}
.navbar .cart {
  position: relative;
  padding: 1em;
}
.navbar .cart img {
  width: 4em;
}
.navbar .cart a:hover {
  cursor: pointer;
}
.navbar .cart .order-counter {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  border-radius: 50%;
  color: #ff2e36;
  top: 20%;
  left: 65%;
}
.navbar .menu-item-container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.navbar .menu-item-container li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin: 1em;
}
.navbar .menu-item-container li a {
  color: #6e7698;
  font-size: 1.25em;
}
.navbar .menu-item-container li a:hover {
  color: #608af8;
  cursor: pointer;
}

/*
----------------------- FOOD AND DRINKS SEARCH BOX STYLINGS ------------------------------
*/
.search-container .change-color {
  position: relative;
  width: 60%;
  height: 5em;
  margin: 0 auto;
  color: #608af8;
}
.search-container .change-color #phoneNumber {
  margin-top: 1em;
  height: 3em;
  border: 1px solid #608af8;
}
.search-container .change-color .arrow-container {
  position: absolute;
  top: 33%;
  left: 85%;
  border: none;
  background-color: transparent;
  color: #608af8;
}
.search-container .change-color .arrow-container:hover {
  cursor: pointer;
}

/*
----------------------- HOME DECORATIONS STYLINGS ------------------------------
*/
.shape-decoration {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shape-decoration .rectangle {
  flex: 0.5;
  width: 400px;
  height: 500px;
  background-color: #e8efff;
}
.shape-decoration .hook-container {
  flex: 0.5;
  font-size: 1.8em;
  margin-left: 1em;
  padding-right: 0.25em;
  color: #6e7698;
}

.image-decoration {
  width: 100%;
  height: 25em;
  margin: 2em 0 2em 0;
  background-image: url("/images/pexels-burst.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-background-size: cover;
  opacity: 90%;
}

.blue-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25em;
  color: #e8efff;
  background-color: #608af8;
}
.blue-banner h4 {
  margin-top: 0;
}

.item-container {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .item-container {
    flex-direction: column;
  }
}

.component-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}
.component-container .title {
  margin-bottom: 1.5em;
  color: #6e7698;
}

/*
------------------------------------FOOTER CSS ----------------------------------- */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/*
 UTILITY CLASSES
*/
.bg-to-blue {
  background-color: #608af8;
  color: #e8efff;
}

.bg-to-red {
  margin-top: 0.5em;
  background-color: #ff2e36;
  color: #e8efff;
}

.bg-to-light {
  margin-top: 0.5em;
  background-color: #e8efff;
  color: #6e7698;
}