// colours
$blue-primary: #608af8;
//fonts
$font-stack: Nunito, sans-serif;

.cart-container {
	font: 100% $font-stack;
	h2 {
		margin: 0;
		text-align: center;
		color: lightslategray;
		padding: 15px;
	}
}

.dish-container {
	display: flex;
	margin: 10px;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: lightslategray;
}
.dish-container:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

header {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	img {
		width: 200px;
		height: 150px;
	}
	.name {
		display: flex;
		justify-content: center;
		margin: 0;
		font-weight: bold;
	}
	p {
		text-align: center;
	}
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-left: 5px;

	.remove {
		width: 15px;
		height: 30px;
		padding-top: 5px;
		margin-right: 10px;
		button {
			border: 0;
			background-color: white;
		}
		i:hover {
			color: red;
		}
	}

	article {
		align-self: flex-start;
		margin-top: 10px;
		p {
			margin-top: 0;
			margin-bottom: 10px;
			text-align: justify;
		}
	}

	footer {
		p {
			margin-top: 5px;
			margin-left: 10px;
			font-size: small;
			font-weight: bold;
			color: $blue-primary;
		}

		.quantity {
			padding-left: 10px;
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			justify-content: space-between;

			output {
				font-weight: bold;
			}

			.add,
			.minus {
				width: 28px;
				height: 25px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 50%;
				border-style: none;
				color: white;
				background-color: $blue-primary;
			}
			.add:hover,
			.minus:hover {
				background-color: salmon;
			}
		}
	}
}

.checkout {
	//position: fixed;
	float: right;
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	color: $blue-primary;
	button {
		font-size: large;
		color: white;
		margin-left: 15px;
		background-color: red;
		color: lightgrey;
		border: 0;
	}
	button:hover {
		color: white;
	}
}