// colours
$blue-primary: #608af8;
//fonts
$font-stack: Nunito, sans-serif;

html,
body {
	margin: 0;
	height: 100%;
	font: 100% $font-stack;
}
h1 {
	margin: 0;
}

.bg-container {
	width: 100%;
	height: 80%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url("../../images/contact-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.intro {
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	padding: 2.5em;

	p {
		margin: 0;
		font-size: medium;
	}
}

.contact {
	display: block;
	color: black;
	background: lightslategrey;
	padding: 15px;

	@mixin borderLine {
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}

	.phone,
	.hours {
		@include borderLine;
	}

	.location {
		font-weight: bold;
	}
}
