// colours
$blue-primary: #608af8;
$light-blue: #e8efff;
$dark-blue: #6e7698;
$grey: #c4c4c4;
$red: #ff2e36;

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
	background: {
		image: url($imgpath);
		position: $position;
		repeat: $repeat;
		background-size: cover;
	}
}

// fonts
$pp-font: 'Roboto', sans-serif;
$secondary-font: 'Bungee', cursive;

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.17em;
	}
	h4 {
		font-size: 1.12em;
	}
}

body {
	font-family: $pp-font;
} // close body

.navbar {
	padding: 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	// background-color: #608AF8;
	.logo {
		padding: 1em;
		img {
			width: 4em;
			&:hover{
				cursor: pointer;
			}
		}
	}

	.cart {
		padding: 1em;
		img {
			width: 4em;
		}
		a:hover{
			cursor: pointer;
		}
	}

	.menu-item-container {
		display: flex;
		justify-content: center;
		padding: .5em;
		li {
			list-style: none;
			font-family: $pp-font;
			margin: 1em;
			a {
				color: $dark-blue;
				font-size: 1.25em;
				&:hover {
					color: #608af8;
					cursor: pointer;
				}
			}
		}
	}
} // navbar

.search-container {
	.change-color {
		position: relative;
		width: 60%;
		height: 5em;
		margin: 0 auto;
		color: $blue-primary;
		#phoneNumber {
			margin-top: 1em;
			height: 3em;
			border: 1px solid #608af8;
		}

		.arrow-container {
			position: absolute;
			top: 33%;
			left: 85%;
			border: none;
			background-color: transparent;
			color:#608af8;
			&:hover{
				cursor: pointer;
			}
		}
	}
}

// landing page decorations
.shape-decoration {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.rectangle {
		flex: .5;
		width: 400px;
		height: 500px;
		background-color: $light-blue;
	}
	.hook-container {
		flex: .5;
		font-size: 1.8em;
		margin-left: 1em;
		padding-right: .25em;
		color: #6e7698;
	}
}

.image-decoration {
	width: 100%;
	height: 25em;
	margin: 2em 0 2em 0;
	@include background('/images/pexels-burst.jpeg', center center );
	opacity: 90%;
}

.blue-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 25em;
	color: $light-blue;
	background-color: $blue-primary;
	h4 {
		margin-top: 0;
	}
}



/*
 UTILITY CLASSES
*/
.bg-to-blue {
	background-color: $blue-primary;
	color: $light-blue;
}

.credit-size {
	font-size: 1.5em;
}
